$color-green: #03CB9C
$color-h: #5B6274
$color-text: #AEAEAE
$color-body: #E5E5E5

body


  background: #f5f5f5
  font-family: 'Montserrat',sans-serif !important
  font-weight: 400
  color: #000000

a
  color: inherit

section
  margin-bottom: 50px

.header

  margin-bottom: 50px
.el-menu.el-menu--horizontal
  border-bottom: none !important
.el-menu--horizontal>.el-menu-item.is-active
  border-bottom: 2px solid #000000 !important
.el-table__row
  cursor: pointer !important
.el-carousel__container
  height: 605px !important
.el-card
  border-radius: 0 !important
.text-up
  text-transform: uppercase
.el-button
  border-radius: 0 !important
.el-input__inner
  border-radius: 0 !important
  &:focus
    border-color: #000 !important
.b-flex
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  &.a-bt
    align-items: flex-end

.bl-image
  width: 330px
  height: 260px
  object-fit: cover
.menu-item
  text-transform: uppercase
  letter-spacing: 0.1em
  font-size: 12px !important
  font-weight: 700

.container
  max-width: 1120px
  margin: 0 auto
  padding: 0 10px

.color-dark
  color: #282828 !important

.color-grey
  color: #A0A0A0 !important

.color-l-l-grey
  color: #555555 !important

.color-l-grey
  color: #585858 !important
.color-grey-card
  color: #8E8E8E !important
.text-bold
  font-weight: 700 !important

.textBold
  font-weight: 700 !important

.section-header
  font-size: 24px
  margin-bottom: 25px
.no-border
  border: none !important
.no-padding
  & .el-card__body
    padding: 0 !important
    background: #EAEAEA !important
    transition: background-color .2s linear
    &:hover
      background: #FFFFFF !important
.cell
  color: #000000 !important

.el-table th>.cell
  color: #8E8E8E !important
  font-size: 14px !important
.bg-w
  background: #ffffff
.bg-l-blue
  background: #E2E6F4
.bg-d-blue
  background: #BEDCF8

.hover-eff
  &:hover
    cursor: pointer !important

.h1
  line-height: 88px
  font-size: 72px
  font-weight: 700
  margin-bottom: 60px

.fs-18
  font-size: 18px !important
.fs-24
  font-size: 24px !important

.fs-14
  font-size: 14px !important
.fs-16
  font-size: 16px !important

.fs-12
  font-size: 12px !important

.fs-72
  font-size: 72px !important
.mb25
  margin-bottom: 25px

.mb20
  margin-bottom: 20px !important

.mb40
  margin-bottom: 40px !important
.mb15
  margin-bottom: 15px

.mb10
  margin-bottom: 10px

.card-inner
  display: flex
  align-items: center

  img
    margin-right: 20px
    width: 290px
    height: 140px
    object-fit: cover
  &__div
    flex-basis: 60%

.grid
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr))
  grid-gap: 1px
  &.gridx3
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr))
  &.gridx2
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr))

  &-item
    padding: 60px 50px
.tag-list
  a
    margin-right: 10px
    &:last-child
      margin-right: 0
.header-top
  padding-top: 30px
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 20px
  &__logo
    &-p1
      font-size: 31px
      font-weight: 700
      line-height: 30px
    &-p2
      font-size: 12px

.mobile-show
  display: none !important

@media (max-width: 1100px)
  &.gridx3
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr)) !important
  &.gridx2
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr)) !important

@media (max-width: 768px)
  .h1
    font-size: 32px
    line-height: 38px
  .mobile-hide
    display: none
  .mobile-show
    display: block !important
  .text-bold
    margin-bottom: 10px
  &.gridx3
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) !important
  &.gridx2
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) !important

  .section-header
    font-size: 24px
    margin-bottom: 15px
  .card-inner
    flex-wrap: wrap
    padding: 20px !important
    img

      margin-right: 0
      margin-bottom: 20px
      margin: 0 auto
    &__div
      flex-basis: 100% !important
